
/**********
 * button *
 **********/
button {
    padding: 6px;
    border-radius: 6px;
    background-color: @inactive;
    background-image: none;
    color: @fg_color;
    box-shadow: 0 1px 2px @bg_color;
    margin: 4px;
}

button:focus {
    color: @fg_color;
}

button:hover {
    background-color: @active;
    color: @fg_color;
}

button:active,
button:active:hover {
    color: @fg_color;
    background-color: @inactive;
    box-shadow: 0 2px 2px transparent;
}

button.toggle:checked {
    color: @inactive;
    background-color: @fg_color;
}

button:disabled {
    background-color: @bg_color;
    background-image: none;
    color: @active;
}

button:active:disabled {

}

GtkLinkButton.button,
GtkLinkButton.button:focus,
GtkLinkButton.button:hover,
GtkLinkButton.button:active,
GtkLinkButton.button:focus:active,
GtkLinkButton.button:focus:hover {

}

button.radio:checked {
    color: @fg_color;
    background-color: shade(@selected_bg_color, 0.83);
}
