entry.chromium {
	color: @fg_color;
	background-color: @bg_color;
}

menu.chromium {
	background-color: @bg_color;
	color: @fg_color;
	border: none 0px;
}

window.background.chromium {
	border: none 0px;
    background-color: @bg_color;
	color: @fg_color;
}
