/*********
 * entry *
 *********/
entry {
    padding: 4px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: @inactive;
    border-radius: 0;
    background-color: @base_color;
    background-image: none;
    color: @text_color;
    margin: 4px;
}

entry:active,
entry:focus {
	border-color: @active;
}

entry:selected,
entry:selected:focus,
entry selection {
    color: @fg_color;
}

entry:disabled {
    background-color: @bg_color;
    background-image: none;
    color: @inactive;
    border-color: black;
}

entry.progressbar {
    border-width: 0;
    border-radius: 0;
    background-color: @selected_bg_color;
    background-image: none;
    color: @selected_fg_color;
}
