/**********
 * Switch *
 **********/

switch {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    margin: 4px;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: @inactive;
    background-color: transparent;
    background-clip: padding-box;
    font-size: 0;
}
switch:disabled {
    opacity: 0.5;
}

switch image {
    color: alpha(#000, 0.0);
}

switch:disabled image:disabled {
    color: alpha(#000, 0.0);
}

switch:checked {
    border-color: @color15;
}

switch:checked:disabled {
    opacity: 0.5;
}

switch slider {
    background-color: @inactive;
    min-width: 24px;
    min-height: 12px;
    border-radius: 400px;
    margin: 8px;
}

switch:hover slider {
    border-image: none;
    background-color: @active;
}

switch:disabled slider {
    opacity: 0.5;
}
switch:checked slider {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation: needs_attention 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
    color: @fg_color;
    background-color: @color15;
}

switch:checked:disabled slider {
    animation: none;
    opacity: 0.5;
}
